<html>
<body>

<form name="homePage">
		
	<br/>
			<div class="hidden-xs hidden-sm">
				<div align="center">

				<jk-carousel
				data="dataArray"
				item-template-url="'item-template.html'"
				max-width="1000" 
				max-height="500"
				auto-slide="true"
				auto-slide-time="2000" >
				</jk-carousel>	
			</div>
		
				<br/><br/>
		</div>
		<br/>
	
<div class="container">		
<div class="row animate-box" data-animate-effect="fadeInLeft">
<div class="col-md-7"><span class="red-btn">HENNA BY HASNA</span> <br/><br/> <br/><div class="byInfo">Hasna started hennaing at the times back from her childhood for eid and in special occasions to her friends and family. Now her passion took her way to do it professionally. She is a professional henna/mehandi artist, who does alluring mehandi for all special occasions. </br></br> Adore yourself with this form of body art which enlightens your happiness in your special day. Hasna does henna for bridals, engagement, baby shower, birthday parties, sangeet, house warming parties, Diwali, Eid, Christmas events.</div></div>
<br/>
<div class="col-md-5"> <img src="images/hennabyhasna.jpg" width="100%" height="45%">  </div>
		
	</div></div>
	
<br/><br/><br/><br/>

<div class="item-1"> 

<div class="container"> 
<div class="row animate-box" data-animate-effect="fadeInRight">
<div class="col-sm-4"> <img src="images/by.jpg" width="100%" height="240px"> <br/> <br/> <div class="redfont"> <b>ABOUT ARTIST
 </b></div><br/> "As far as I remember I had this unquenchable curiosity and a hunger to do thing that resonates my soul, I wanted to be in a job that makes me successful, evidently happy and creatively fulfilled. I was also passionate about motivational writings, entrepreneurship, Makeup, creativity, individuality, fitness and it keeps on going.
 <br/><br/>
 <button data-toggle="collapse" data-target="#demo" style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
<p class="redfont"><b>READ MORE</b> </p></button>
 <div id="demo" class="collapse">
utfgv hgfghgh gyug uyfyuf fufu ufyufu ugg yffydrtts ydyfdty ugftf ugftf fuyfyu

<br/>
 <button data-toggle="collapse" data-target="#demo" style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
<p class="redfont"><b>READ LESS</b> </p></button>
</div></div>


<div class="col-sm-4"> <img src="images/aboutHenna.png" width="100%" height="240px"><br/> <br/><div class="redfont"> <b>ABOUT HENNA ART
 </b></div><br/> Henna is traditionally used for special occasions like holidays, birthdays and weddings in Africa, Pakistan, India, and the Middle East.The most popular of the traditions is the Mehndi (henna) Night where the bride, her family, relatives and friends get together to celebrate the wedding to come.
<br/><br/>
 <button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
<p class="redfont" ng-click="readMoreArt()" ng-if="!showArtMoreDetails"><b>READ MORE</b> </p></button>
 <p ng-if="showArtMoreDetails">
utfgv hgfghgh gyug uyfyuf fufu ufyufu ugg yffydrtts ydyfdty ugftf ugftf fuyfyu
</p>
<br/>
<button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
<p class="redfont" ng-click="readLessArt()" ng-if="showArtMoreDetails"><b>READ LESS</b> </p></button>
</div>



<div class="col-sm-4"> <img src="images/aboutHenna-.jpg" width="100%" height="240px"><br/> <br/><div class="redfont"> <b>HENNA DESIGN
 </b></div><br/> Uniquely transform premier infrastructures before functional metrics. Completely mesh sustainable leadership for economically sound sources.…
<br/><br/>
 <button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
<p class="redfont" ng-click="readMoreDesign()" ng-if="!showMoreDesign"><b>READ MORE</b> </p></button>
 <p ng-if="showMoreDesign">
utfgv hgfghgh gyug uyfyuf fufu ufyufu ugg yffydrtts ydyfdty ugftf ugftf fuyfyu
</p>
<br/>
<button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
<p class="redfont" ng-click="readLessDesign()" ng-if="showMoreDesign"><b>READ LESS</b> </p></button>
</div>

</div>
</div>
</div>
<br/><br/><br/><br/><br/>

<center>
<div class="redfont"> <h3>OUR SERVICE </h3></div><br/>
Uniquely transform premier infrastructures before functional metrics. Completely<br/> mesh sustainable leadership for economically sound sources.…
 </center>
<br/><br/><br/>

 <div class="container"> 
<div class="row">
  
<div class="col-md-7">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne" class="collapsestyle">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"   aria-controls="collapseOne">
          Natural Henna Powder
        </a>
        <span style="float:right;" class="glyphicon glyphicon-minus"></span>
      </h4>
     
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
      <div class="panel-body"> contents here
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo" class="collapsestyle">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Henna Stain
        </a>
        <span style="float:right;" class="glyphicon glyphicon-plus"></span>
      </h4>
     
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       contents here
    </div>
  </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree" class="collapsestyle">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"  class="collapsestyle" aria-controls="collapseThree">
          Advance Booking
        </a>

         <span style="float:right;" class="glyphicon glyphicon-plus"></span>
      </h4>
     
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
         contents here
      </div>
    </div>
  </div>
</div>

</div>

</form>
</body>
</html>