<html>
<body>
<form name="galleryPage" class="hidingBelowScrollBar">

      
   <table><tr>
    <td>
		<div ng-repeat="img in images1 track by $index" layout="row" align="center">
			<button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
			<img id="myImg" ng-style="imageStyle" ng-src="{{img.src}}" ng-click="openImage($index,1)" width="300" height="200"> 
			</button>
		</div> 
	</td>
		
	<td>
		<div ng-repeat="img in images2 track by $index" layout="row" align="center">
			<button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
			<img id="myImg" ng-style="imageStyle" ng-src="{{img.src}}" ng-click="openImage($index,2)" width="300" height="200"> 
			</button>
		</div> 
	</td>
	
	<td>
		<div ng-repeat="img in images3 track by $index" layout="row" align="center">
			<button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
			<img id="myImg" ng-style="imageStyle" ng-src="{{img.src}}" ng-click="openImage($index,3)" width="300" height="200"> 
			</button>
		</div> 
	</td>
	
	<td>
		<div ng-repeat="img in images4 track by $index" layout="row" align="center">
			<button style="background-color: Transparent;outline:none;border: none;cursor:pointer;overflow: hidden;">
			<img id="myImg" ng-style="imageStyle" ng-src="{{img.src}}" ng-click="openImage($index,4)" width="300" height="200"> 
			</button>
		</div> 
	</td>
		
	</tr></table>	
			
	
	<div id="myModal" ng-style="modal" ng-if="showCloseButtton">
		 <span ng-style="closeImage" ng-click="closeModalImage()" ng-if="showCloseButtton">&times;</span>
     	 <img ng-style="modalContent" src="{{modal_Img}}" id="showImage">
         <div id="caption">{{captionText}}</div>
	</div>
	
</form>
</body>
</html>